div.pr-rs {
    float: left;
    display: block;
    width: 48%;
}

div.file-contents {
    white-space: pre-wrap;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    background: #efefef;
    font-family: monospace;
}